/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(233, 240, 250, 1) 11%, rgba(188, 214, 243, 1));
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.centerPage {
  margin-top: 100px;
}

/* End Global Rules */

/* start global variables */
:root {
  --maincolor: #0d1aa8;
  --subcolor: #201f1f;
}

/* end global variables */


/* start header */
header {
  height: 100vh;
  width: 300px;
  padding: 5px 30px;
  background-color: var(--subcolor);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.4s;
  z-index: 44000;
  overflow: hidden;
}

header .profile {
  text-align: center;
  margin: 10px 0;
}

header .profile img {
  width: 200px;
  height: 180px;
  border-radius: 40%;
}

header .profile h4 {
  margin-top: 20px;
  margin-bottom: 60px;
  color: white;
  font-weight: 120;
}

header .profile .socail-icons a {
  display: inline-block;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  background-color: var(--subcolor);
  color: white;
  font-size: 25px;
  margin: 1.5px ;
  padding: 0 100px;
  transition: 0.5s;
}

header .profile .socail-icons a:hover {
  background-color: var(--maincolor);
}

/* start navbar */
header nav ul {
  position: absolute;
}

header nav ul li {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

header nav ul li a {
  display: inline-block;
  padding: 4px 10px;
  margin: 8px 0;
  color: white;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}

header nav ul li a i {
  margin-left: 10px;
  font-size: 20px;
  transition: 0.5s;
}

header nav ul li a:hover i,
header nav ul li .active i {
  color: var(--maincolor);
}

/* end navbar */

/* start footer  */
header .footer {
  text-align: center;
  width: 300px;
  color: lightgray;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

header .footer p a {
  color: var(--maincolor);
}

/* end footer  */
#menu {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: var(--maincolor);
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(50, 209, 230, 0.3);
  z-index: 44;
  display: none;
}

@media only screen and (max-width: 1050px) {

  header,
  header .footer {
    left: -300px;
  }

  #menu {
    display: block;
    cursor: pointer;
  }
}

.mobile-nav-active header,
.mobile-nav-active header .footer {
  left: 0;
}

/* end header */


/* main section  */

.section-down-arrow {
  width: 100%;
  height: 100px;
}

.main-section h1 {
  margin-top: 40px;
  font-size: 45px;
  color: var(--maincolor);
  font-weight: 800;
  text-align: center;
}

.main-section p {
  color: white;
  font-size: large;
}

@media (max-width: 1050px) {
  .main-section h1 {
    font-size: 35px;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .main-section h1 {
    font-size: 30px;
  }

  .main-section p {
    font-size: 15px;
  }
}

/* end main section */


/* start main section  */
main {
  margin-left: 300px;
  transition: 0.5s;
}

@media only screen and (max-width: 1050px) {
  main {
    margin-left: 0px;
  }
}

/* end main section  */


/* start home section */
.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.40)), url("../image/design/home.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  position: relative;

}

.home .home-row {
  position: absolute;
  top: 45%;
}

.home .home-row h1 {
  font-size: 60px;
  color: white;
  font-weight: 500;


}

.home .home-row h1 span {
  color: var(--maincolor);
  font-weight: 700;
}

.home .home-row p {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

@media only screen and (max-width: 670px) {
  .home {
    padding: 30px;
  }

  .home .home-row h1 {
    font-size: 35px;
  }

  .home .home-row h1 br {
    display: none;
  }

  .home .home-row p {
    font-size: 20px;
    font-weight: 300;
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.buttonn {
  margin-left: 25px;
  border: 2px solid var(--maincolor);
  border-radius: 5px;
  color: white;
  padding: 6px 20px;
  font-weight: 50;
  position: relative;
  width: fit-content;
  z-index: 2;
  transition: 0.5s;
}

.buttonn::before,
.buttonn::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--maincolor);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.buttonn::before {
  left: -25px;
}

.buttonn::after {
  right: -25px;
}

.buttonn:hover::before {
  z-index: -1;
  animation: left-move 0.8s linear forwards;
}

.buttonn:hover::after {
  z-index: -1;
  animation: right-move 0.8s linear forwards;
}

/* end home section */


/* start about  */
.about {
  margin-bottom: 40px;
}

h1 {
  margin-bottom: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 300px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* start decumentation  */

code {
  background-color: #e4e4e4;
  padding: 3px 5px;
  border-radius: 3px;
}

pre {
  background-color: #e4e4e4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.response-success {
  color: green;
}

.response-failure {
  color: red;
}

/* end decumentation  */


/* start form  */

.form {
  background-color: #e4e4e4;
  margin: auto 100px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.drop-area {
  border: 2px dashed #ccc;
  padding: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.drop-area:hover {
  cursor: pointer;
}

.highlight {
  background-color: #acacac
}

.received {
  background-color: #4CAF50
}

.file-input {
  display: none;
}

.drop-area {
  text-align: center;
}

.drop-area i {
  font-size: 200px;
}

.form-control {
  background-color: #ccc;
}

.form-control:focus {
  background-color: #ccc;
}

@media only screen and (max-width: 1050px) {
  .form {
    margin: 0;
  }

  .drop-area i {
    font-size: 100px;
  }

}


/* end form  */

.hint {
  position: absolute;
  right: 0;
  top: 40%;
  padding: 0px;
  z-index: 1;
  transform: translate(0, 0);
}

.yellow-container {
  background-color: yellow;
  color: black;
  min-width: fit-content;
}

.purple-container {
  background-color: purple;
  color: white;
  min-width: fit-content;
}

@media (max-width: 1295px) {
  .hint {
    position: absolute;
    right: 30%;
    top: 0;
    padding: 0px;
    z-index: 100;
    display: flex;
    justify-content: space-around;

  }
}