{%include 'header_layout.html'%}
<!-- start about -->
<section class="about " id="about">
    <div class="centerPage">
        <div class="container">
            <!-- <div class="main-section">
            <h1>About Us</h1>
        </div> -->

            <div class="container text-center">
                <div class="logo d-flex justify-content-center">
                    <img src="../static/image/design/logo.png" alt="Earth Observation Eye EOE Logo">
                </div>
                    <p>
                        Earth Observation Eye EOE is an advanced artificial intelligence platform aimed at improving our
                        understanding of poverty and identifying deprived areas. Our mission is to leverage cutting-edge
                        technologies, including deep learning and image analysis, to provide actionable insights and
                        innovative
                        solutions to combat poverty worldwide.
                    </p>

                    <p>
                        At Earth Observation Eye EOE, we believe that AI has the potential to make a significant impact
                        on
                        poverty
                        eradication. By analyzing complex data patterns and identifying indicators of poverty, we can
                        empower
                        governments, organizations, and communities with the knowledge and tools to drive targeted
                        interventions
                        and
                        sustainable development.
                    </p>

                    <p>
                        Our team of experts in AI, data science, and social development is dedicated to developing
                        state-of-the-art
                        models and algorithms that can accurately assess poverty levels and identify areas in need.
                        Through
                        our
                        user-friendly API services, users can access our powerful AI models and integrate them into
                        their
                        own
                        applications, enabling data-driven decision-making and resource allocation.
                    </p>

                    <p>
                        Join us in our mission to harness the power of AI for positive social change. Together, we can
                        work
                        towards
                        a future where poverty is eradicated, and every individual has equal opportunities for a better
                        life.
                    </p>
            </div>
        </div>
    </div>
</section>
<!-- end about -->
{%include 'footer.html'%}